   
   /* custom properties */
:root {

    /* primary colors */
    --clr-primary-green: hsl(163, 72%, 41%);
    --clr-primary-red: hsl(356, 69%, 56%);

    --clr-primary-facebook: hsl(208, 92%, 53%);
    --clr-primary-twitter: hsl(203, 89%, 53%);
    --clr-instagram: linear-gradient(to top right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --clr-primary-youtube: hsl(348, 97%, 39%);
    
    /* dark/light theme toggle */
    --clr-toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --clr-toggle-light: hsl(230, 22%, 74%);

    /* dark theme */
    --clr-bg-dark: hsl(230, 17%, 14%);
    --clr-top-bg-pattern-dark: hsl(232, 19%, 15%);
    --clr-card-bg-dark: hsl(228, 28%, 20%);
    --clr-text-secondary-dark: hsl(228, 34%, 66%);
    --clr-text-main-dark: hsl(0, 0%, 100%);

    /* light theme */
    --clr-bg-light: hsl(0, 0%, 100%);
    --clr-top-bg-pattern-light: hsl(225, 100%, 98%);
    --clr-card-bg-light: hsl(227, 47%, 96%);
    --clr-text-secondary-light: hsl(228, 12%, 44%);
    --clr-text-main-light: hsl(230, 17%, 14%);

    --ff-main: ;

    --fs-400: 0.875rem;

    --fw-regular: 400;
    --fw-bold: 700hsl(227, 47%, 96%);

}

    /* reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing rules */
* {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* remove button default styles */
button {
    font: inherit;
    color: inherit;
    background: inherit;
    border: none;
    cursor: pointer;
}
